.about {
  padding-top: 50px;
  padding-bottom: 25px;

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    margin-bottom: 27px;
    text-align: center;
    color: var(--dark-color);

    @include mobile {
      font-weight: 700;
      font-size: 38px;
      line-height: 19px;
      text-align: center;
      color: var(--dark-color);
    }
  }

  &__subtitle {
    width: 100%;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    margin-bottom: 37px;
    text-align: center;
    border: 2px solid var(--blue-color);
    border-radius: 30px;
    color: var(--dark-color);

    @include small-tablet {
      & {
        font-size: 20px;
      }
    }

    @include mobile {
      & {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    @include small-tablet {
      & {
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  &__image {

    @include big-desktop {
      & {
        width: 100%;
      }
    }

    @include small-tablet {
      & {
        width: 100%;
      }
    }
  }

  &__text {
    width: 50%;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark-color);

    @include big-desktop {
      & {
        width: 70%;
      }
    }

    @include small-tablet {
      & {
        width: 100%;
        font-size: 18px;
      }
    }

    @include mobile {
      width: 100%;
    }
  }

  &__fat {
    font-weight: 900;
    color: var(--blue-color);
  }
}
