.about {
  padding-top: 50px;
  padding-bottom: 25px;

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    margin-bottom: 27px;
    text-align: center;
    color: var(--dark-color);
  }

  &__subtitle {
    width: 100%;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    margin-bottom: 37px;
    text-align: center;
    border: 2px solid var(--blue-color);
    border-radius: 30px;
    color: var(--dark-color);

    @include small-tablet {
      & {
        font-size: 26px;
      }
    }
  }

  &__desc {
    display: flex;
  }

  &__img {
    margin-right: 40px;
  }

  &__text {
    width: 592px;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--dark-color);

    @include small-tablet {
      & {
        font-size: 16px;
      }
    }
  }

  &__fat {
    font-weight: 900;
    color: var(--blue-color);
  }
}
