.for {
  padding-top: 25px;
  padding-bottom: 25px;


  &__container {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    margin-bottom: 22px;
    text-align: center;
    color: var(--dark-color);

    @include mobile {
      font-weight: 700;
      font-size: 38px;
      line-height: 19px;
      text-align: center;
      color: var(--dark-color);
    }
  }

  &__img {
    position: relative;

    @include mobile {
      min-height: 350px;
    }
  }

  &__list {
    position: absolute;
    left: 0;
    top: 50px;
    padding-left: 15px;

    @include mobile {
      padding-right: 15px;
    }
  }

  &__item {
    padding: 10px;
    margin-bottom: 20px;
    width: 613px;
    font-weight: 600;
    font-size: 21px;
    line-height: 43px;
    text-align: center;
    border-radius: 30px;
    background: var(--perano-color);
    color: var(--light-color);

    @include high-tablet {
      padding: 5px;
      font-size: 16px;
    }

    @include small-tablet {
      & {
        width: 500px;
        margin-bottom: 10px;
        line-height: 30px;
      }
    }

    @include mobile {
      & {
        width: 100%;
        line-height: 20px;
      }
    }
  }
}
