.request {
  padding-top: 25px;
  padding-bottom: 25px;

  &__title {
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    text-align: center;
    color:var(--dark-color);
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;
    width: 267px;
    min-height: 248px;
    margin-right: 40px;
    border: 2px solid var(--blue-color);
    border-radius: 30px;

    &::before {
      content: "";
      position: absolute;
      top: -9px;
      left: 42px;
      width: 150px;
      height: 10px;
      background-color: var(--light-color);
    }
  }

  &__icon {
    position: absolute;
    top: -28%;
    left: 27%;


    &--many {
      left: 26%;
      top: -23%;
    }

    &--life {
      left: 22%;
      top: -27%;
    }

    &--health {
      left: 24%;
      top: -26%;
    }

    &--dev {
      left: 29%;
      top: -26%;
    }
  }

  &__desc {
    text-align: center;
    margin-top: 78px;
    margin-bottom: 20px;
  }

  &__text {
    text-align: center;
    padding: 5px;
  }

}
