<section class="about" id="about" data-scroll>
  <h2 class="about__title title-all">Об Игре</h2>
  <div class="container about__container">

    <svg class="about__container-img-left logoBg">
      <use xlink:href="img/sprite.svg#logoBg"></use>
    </svg>
    <svg class="about__container-img-right logoBg">
      <use xlink:href="img/sprite.svg#logoBg"></use>
    </svg>

    <p class="about__subtitle">
      Это не просто игра — это микромодель вашей жизни и зеркало ваших жизненных стратегий!
    </p>
    <div class="about__desc">
      <picture>
        <source srcset="../img/about__game.webp" type="image/webp">
        <img loading="lazy" src="../img/about__game.png" class="about__image" width="622" height="413" alt="фото игры">
      </picture>
      <p class="about__text">
        Во время игры, вы найдете незаметные в повседневной жизни страх, убеждения, которые тормозят вас на пути к
        целям.
        Получите знания и конкретный список действий, которые помогут прийти к вашим <span class="about__fat">Хочу! Могу
          и Буду!</span>
      </p>
    </div>
  </div>
</section>
