<footer class="footer" id="footer">
  <div class="container footer__container">
    <svg class="footer__container-img-right logoBg">
      <use xlink:href="img/sprite.svg#logoBg"></use>
    </svg>
    <div class="footer__wrap-bottom">
      <p class="footer__text">Записаться на игру</p>
      <div class="footer__list">
        <a href="https://www.instagram.com/maria_podenko" class="footer__link" target="_blank">
          <img loading="lazy" src="img/instagram.svg" class="footer__icon" width="35" height="35" alt="Страница в instagram трансформационные игры">
        </a>
        <a href="https://telegram.me/Maryia_Podenko" class="footer__link" target="_blank">
          <img loading="lazy" src="img/telegram.svg" class="footer__icon" width="35" height="35" alt="Связаться с нами в телеграм">
        </a>
        <a href=" https://api.whatsapp.com/send?phone=79151611144" class="footer__link" target="_blank">
          <img loading="lazy" src="img/whatsapp.svg" class="footer__icon" width="35" height="35" alt="Связаться с нами в whatsapp">
        </a>
      </div>
      <div class="footer__inner">
        <p class="footer__danger">
          Компания Meta Platforms Inc., владеющая социальными сетями Facebook и Instagram, по решению суда от 21.03.2022 признана экстремистской организацией, ее деятельность на территории России запрещена.
        </p>
      </div>
    </div>
  </div>
</footer>
