<section class="for" id="for">
  <h2 class="for__title title-all">Для того, кто:</h2>
  <div class="container for__container">

    <svg class="for__container-img-left logoBg">
      <use xlink:href="img/sprite.svg#logoBg"></use>
    </svg>

    <picture>
      <source srcset="img/for.webp" type="image/webp">
      <img loading="lazy" src="img/for.png" class="for__img" width="1129" height="748" alt="фото людей на игре">
    </picture>

    <ul class="for__list list-reset">
      <li class="for__item"><p class="for__item-text">Не знает, что делать дальше</p></li>
      <li class="for__item"><p class="for__item-text">Ищет ответы на свои вопросы</p></li>
      <li class="for__item"><p class="for__item-text">Желает получить помощь и подсказку</p></li>
      <li class="for__item"><p class="for__item-text">Хочет изменить жизнь, но не знает с чего начать</p></li>
      <li class="for__item"><p class="for__item-text">Ждёт перемен в жизни</p></li>
      <li class="for__item"><p class="for__item-text">Требует новизны</p></li>
    </ul>
  </div>
</section>
