<section class="for" id="for" data-scroll>
  <div class="container for__container" >
       <h3 class="for__title">Для того, кто:</h3>
      <picture>
       <source srcset="img/for.webp" type="image/webp">
       <img loading="lazy" src="img/for.png" class="for__img" width="1129" height="748" alt="фото людей на игре">
      </picture>
       <div class="for__wrap">
           <ul class="for__list">
               <li class="for__item">НЕ ЗНАЕТ, ЧТО ДЕЛАТЬ ДАЛЬШЕ</li>
               <li class="for__item">ИЩЕТ ОТВЕТЫ НА СВОИ ВОПРОСЫ</li>
               <li class="for__item">ЖЕЛАЕТ ПОЛУЧИТЬ ПОМОЩЬ И ПОДСКАЗКУ</li>
               <li class="for__item">ХОЧЕТ ИЗМЕНИТЬ ЖИЗНЬ, НО НЕ ЗНАЕТ С ЧЕГО НАЧАТЬ</li>
               <li class="for__item">ЖДЕТ ПЕРЕМЕН В ЖИЗНИ</li>
               <li class="for__item">ТРЕБУЕТ НОВИЗНЫ</li>
           </ul>
       </div>
  </div>
</section>
