<section class="format">
  <div class="container format__container">
      <h3 class="format__title">Формат Игры</h3>
      <wrapper class="format__wrapper">
          <div class="format__left">
              <img loading="lazy" src="img/left.svg" class="format__icon" width="175" height="140" alt="Онлайн формат игры Хочу Могу и Буду">
              <div class="format__subtitle">ONLINE ФOPMAT</div>
              <p class="format__desc">- Вы получаете ссылку на платформу с игрой</p>
              <p class="format__desc">- Также ссылку на ZOOM, где Вы будете видеть всех участников </p>
              <p class="format__desc">- Ведущий поможет сформулировать истинный запрос</p>
              <p class="format__desc">- В ходе игры, выбирая свои карты, выполняя определенные действия, Вы будете находить ответы, которые помогут прийти к своим мечтам и целям </p>
              <p class="format__desc">- Вам понадобится планшет или компьютер, блокнот и ручка</p>
              <div class="format__inner">
                <p class="format__inner-text">Время игры зависит от количества игроков :</p>
                <p class="format__inner-text">- Индивидуальная игра - 3500 рублей</p>
                <p class="format__inner-text">- Групповая игра (3-6 человек) - 2500 рублей с участника</p>
              </div>
          </div>
          <div class="format__right">
              <img loading="lazy" src="img/right.svg" class="format__icon" width="185" height="140" alt="Офлайн формат игры Хочу Могу и Буду">
              <div class="format__subtitle">OFFLINE ФOPMAT</div>
              <p class="format__desc">- Мы встречаемся в заранее обусловленном месте </p>
              <p class="format__desc">- Где в уютной обстановке, за чашечкой чай/кофе будет проходить игра</p>
              <p class="format__desc">- Ведущий поможет сформулировать истинный запрос</p>
              <p class="format__desc">- В ходе игры, выбирая свои карты, выполняя определенные действия, Вы будете находить ответы, которые помогут прийти к своим мечтам и целям </p>
              <div class="format__inner">
                <p class="format__inner-text">Время игры зависит от количества игроков :</p>
                <p class="format__inner-text">- Индивидуальная игра - 4500 рублей</p>
                <p class="format__inner-text">- Групповая игра (3-6 человек) - 2500 рублей с участника</p>
              </div>
          </div>
      </wrapper>
  </div>
</section>
