<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/favicon.jpg" type="image/svg+xml">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <meta name="description"
    content="ТИ – это категория групповых и индивидуальных настольных игр, которые ориентированы на работу с личными запросами участников. Преодоление кризиса или сложной ситуации, нахождение оптимального решения проблемы, достижение определенных целей. Они позволяют увидеть себя настоящего, оценить свою жизнь как она есть.">
  <meta name="yandex" content="all">
  <meta name="google" content="all">
  <meta name="slurp" content="all">
  <meta name="bingbot" content="all">
  <meta name="yandex-verification" content="60c4ee9604fc7d73">
  <meta name="yandex-verification" content="3b80e252825e75c9">
  <title>Трансформационная игра “Хочу Могу и Буду!”</title>
  <link rel="preload" href="fonts/OpenSansRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/OpenSansSemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/OpenSansBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
