<section class="leading" id="leading">
  <h2 class="leading__title title-all">Про ведущую</h2>
  <picture>
    <source srcset="img/leading.webp" type="image/webp">
    <img loading="lazy" src="img/leading.jpg" class="leading__img" width="1437" height="1015"
      alt="Ведущая Мария Поденко, Трансформационнай игры, МАК консультан, Практикующий психолог ">
  </picture>
  <div class="container leading__container">

    <div class="leading__wrap">
      <div class="leading__header">
        <h3 class="leading__header-title">Ведущая игры Мария Поденко</h3>
        <p class="leading__header-text">Психолог-практик</p>
        <h4 class="leading__header-title">В рамках деятельности специализируется на таких техниках как:</h4>
      </div>

      <ul class="leading__list list-reset">
        <li class="leading__item">
          <p class="leading__item-text leading__item-text--background">Метафорические ассоциативные карты (МАК)</p>
        </li>
        <li class="leading__item">
          <p class="leading__item-text leading__item-text--background">Расстановки (СРТ)</p>
        </li>
        <li class="leading__item">
          <p class="leading__item-text leading__item-text--background">Трансформационные игры</p>
        </li>
        <li class="leading__item">
          <p class="leading__item-text">Личный консультант по развитию детей и подростков</p>
        </li>
        <li class="leading__item">
          <p class="leading__item-text">Сертифицированный ведущий трансформационных игр:</p>
        </li>
        <li class="leading__item">
          <p class="leading__item-text">"Хочу! Могу и Буду! Life"</p>
        </li>
        <li class="leading__item">
          <p class="leading__item-text">"Хочу! Могу и Буду! Подростки"</p>
        </li>
      </ul>
    </div>
  </div>
</section>
