<section class="leading">
  <h2 class="leading__title">Про ведущую</h2>
  <picture>
    <source srcset="img/leading.webp" type="image/webp">
    <img loading="lazy" src="img/leading.jpg" class="leading__img" width="" height="" alt="Ведущая Мария Поденко, Трансформационнай игры, МАК консультан, Практикующий психолог ">
  </picture>
  <div class="container leading__container">
    <div class="leading__content">
      <div class="leading__subject">Ведущая игры Мария Поденко</div>
      <p class="leading__text">
        Психолог-практик
      </p>
      <h3 class="leading__subtitle">В рамках деятельности специализируется на таких техниках как:</h3>
      <ul class="leading__list list-reset">
        <li class="leading__item">Метафорические ассоциативные карты (МАК)</li>
        <li class="leading__item">Расстановки (СРТ)</li>
        <li class="leading__item">Трансформационные игры</li>
      </ul>
      <p class="leading__text-top">
       Личный консультант по развитию детей и подростков
      </p>
      <p class="leading__text-top">
       Мастер практической психологии и технологий осознанности
      </p>
      <p class="leading__text-botton">
        Сертифицированный ведущий трансформационных игр:
      </p>
      <p class="leading__text-botton">
        "Хочу! Могу и Буду! Life"
      </p>
      <p class="leading__text-botton">
        "Хочу! Могу и Буду! Подростки"
      </p>
      <p class="leading__text-botton">
        "Эротический покер"
      </p>
      <div class="leading__inner">
        <p class="leading__inner-text">
          Работа с людьми - мой настоящий дар!
        </p>
      </div>
    </div>
  </div>
</section>
