<section class="request" id="request">
  <div class="container request__container">
    <h2 class="request__title title-all">Запрос на игру</h2>
    <div class="request__wrap">
      <ul class="request__list list-reset">
        <li class="request__item">
          <img
            loading="lazy"
            src="img/many.svg"
            class="request__icon request__icon--many"
            width="122"
            height="108"
            alt="трансформация на деньги"
          />
          <h4 class="request__desc">Деньги</h4>
          <p class="request__text">- Почему у меня не получается заработать?</p>
          <p class="request__text">- Как увеличить свой доход?</p>
        </li>
        <li class="request__item">
          <img
            loading="lazy"
            src="img/life.svg"
            class="request__icon request__icon--life"
            width="115"
            height="110"
            alt="трансформация на отношения"
          />
          <h4 class="request__desc">Отношения</h4>
          <p class="request__text">- Как вернуть искру в семейные отношения?</p>
          <p class="request__text">- Как найти мужчину/женщину мечты?</p>
        </li>
        <li class="request__item">
          <img
            loading="lazy"
            src="img/health.svg"
            class="request__icon request__icon--health"
            width="140"
            height="110"
            alt="трансформация на здоровье"
          />
          <h4 class="request__desc">Здоровье</h4>
          <p class="request__text">- Как начать вести здоровый образ жизни?</p>
          <p class="request__text">- Как восстановить энергию?</p>
        </li>
        <li class="request__item">
          <img
            loading="lazy"
            src="img/development.svg"
            class="request__icon request__icon--dev"
            width="100"
            height="110"
            alt="трансформация на развитие"
          />
          <h4 class="request__desc">Саморазвитие</h4>
          <p class="request__text">- Что тормозит моё духовное развитие?</p>
          <p class="request__text">- Как начать развивать себя?</p>
        </li>
      </ul>
    </div>
  </div>
</section>
