<section class="revi">
  <div class="container revi__container">
    <h2 class="revi__title">Отзывы участников игры</h2>
    <div class="revi__wrapper">
      <ul class="revi__list list-reset">
        <li class="revi__item">
          <p class="revi__subtitle">Таша Уракова</p>
          <p class="revi__text">
            Хочу! Могу и Буду - это самое лучшее, что произошло со мной в последнее время. Вот честно! Искренне!
            Все о чем мы не решаемся сказать самому себе - все в этой игре. На самом деле это даже не игра. Это жизнь. Нереальный адреналин. Нереальная поддержка от совершенно незнакомых людей это очень ценно.
          </p>
        </li>
        <li class="revi__item">
          <p class="revi__subtitle">Ксения Андреева</p>
          <p class="revi__text">
            Мария, сердечно благодарю за игру! За тактичность, деликатность, доброту и профессионализм и мастерство! У нас была прекрасная компания и чудесная игра! Чудеса начались еще до первого хода 😉 и до сих пор продолжаются! Я пришла на игру утомленной и растрепанной "царевной лебедь", а с игры улетела "Маргаритой на метле"
          </p>
        </li>
        <li class="revi__item">
          <p class="revi__subtitle">Юлия Малетская</p>
          <p class="revi__text">
            Мария , благодарю тебя от всей души за игру! Я в восторге!!! ОН Лайн формат это круто! В каких то моментах даже волшебнее получилось, когда кого-то вырубает интернет (вселенная).
            У меня осознания идут и идут ,вскрываются слепые зоны)) ты очень внимательная и любящая ведущая 😘😘😘 Еще хочу, хочу, хочу!
          </p>
        </li>
        <li class="revi__item">
          <p class="revi__subtitle">Bbbbb Qqqqq</p>
          <p class="revi__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora, culpa modi cupiditate blanditiis repellat optio asperiores molestias eius qui sed reprehenderit fugiat quis maxime eligendi praesentium accusantium pariatur sunt!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
